img[src="assets/images/startup.png"] {
    width: 50%;
}

.col-startup {}

.rowImageButtons {
    display: flex;
    flex-direction: row;
    padding: 1.5em;
    background-color: #F3F3F3;
}

.button {
    width: 10em;
    margin-left: 1em;
    background-color: #FF8170;
    border: none;
    padding: 0.5em;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.slogan {
    font-size: 5em;
    font-weight: bold;
}

.spaceSlogan {
    padding-top: 2.5em;
    padding-left: 1.5em;
}

.textGray {
    color: #B1B7BE;
}

.textPink {
    color: #EA7068;
    font-weight: bolder;
}

.button a {
    color: white;
}

.box-sesion {
    width: 8em;
    height: 30em;
    background-color: #F3F3F3;
    border: 0.3em #FFA399 solid;
    margin-top: -4em;
    padding-left: 3em;
}

.buttonIS {
    margin-top: 2em;
}

#inputUser,
#inputPassword {
    width: 26em;
    height: 2.8em;
}

.boxSesion {
    margin-top: 1em;
    margin-left: 1em;
}

.buttonIS button {
    width: 26em;
    height: 2.8em;
    background-color: #F97E6D;
    border: none;
    color: white;
}