* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/ipad-tablet-technology-touch.gif");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #2E2E2E;
}

header, footer {
    background-color: #2E2E2E;
    padding: 2%;
}

.startup-rocket[src="assets/images/startup.png"] {
    width: 60%;
    padding: 0 0 5% 0;
}

.rowImageButtons {
    display: flex;
    flex-direction: row;
    padding: 5% 0;
}

.button {
    width: 10em;
    margin-left: 1em;
    background-color: #FF8170;
    border: none;
    padding: 0.5em;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: row;
}

#powerful-women-brand, #powerful-women-brand-mobile{
    font-family: 'Kaushan Script', cursive;
    color: #FF8170;
    text-align: center;
}

#powerful-women-brand{
  font-size: 8em;
  display: block;
}

#powerful-women-brand-mobile{
    display: none;
}

.slogan {
    font-size: 5em;
    font-weight: bold;
}

.text-ahora{
    font-family: 'Kaushan Script', cursive;
    font-size: 5em;
}

.spaceSlogan {
    padding-top: 2.5em;
    padding-left: 1.5em;
}

.bg-text-motivation{
    background-color: #2E2E2E;
    opacity: 0.6;
    padding: 2%;
    border-radius: 10%;
}

.textGray {
    color: #B1B7BE;
    text-align: center;
}

.textPink {
    color: #EA7068;
    font-family: 'Kaushan Script', cursive;
    font-weight: bolder;
    text-align: center;
}

.button a {
    color: white;
}

.footer-text{
    text-align: center;
    color: white;
    font-weight: bold;
}

.fa-2x{
    color: white;
    padding: 0 2%;
}

.lab-icon{
    width: 8%;
    margin: 0 2%;
}
